@import "tailwindcss";

@font-face {
  font-family: "Morabba-Regular";
  src: url("/fonts/Morabba-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-UltraLight";
  src: url("/fonts/Morabba-UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-Light";
  src: url("/fonts/Morabba-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-SemiBold";
  src: url("/fonts/Morabba-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-Bold";
  src: url("/fonts/Morabba-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-ExtraBold";
  src: url("/fonts/Morabba-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Morabba-Heavy";
  src: url("/fonts/Morabba-Heavy.ttf") format("truetype");
}

:root {
  --background: #000000;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-markazi-text), sans-serif;
}
